<div class="container-fluid mt-auto bg-secondary" style="display: flex; align-items: center;">
    <div>
        <img src="assets/img/logo2.png" style="width: 50px;">
        <h1 style="margin-left: 9%;"></h1>
    </div>


    <button type="button" class="btn btn-outline-primary" style="margin-left: 75%;" routerLink="/home">HOME</button>
    <button type="button" class="btn btn-outline-primary" style="margin-left: 2%;" routerLink="/cats">CATS</button>
    <button type="button" class="btn btn-outline-primary" style="margin-left: 2%;"  routerLink="/dogs">DOGS</button>

    <!-- <a routerLink="/home" style="margin-left: 75%;">Home</a>
    <a routerLink="/cats" style="margin-left: 5%;">Cats</a>
    <a routerLink="/dogs" style="margin-left: 5%;">Dogs</a> -->
</div>
